<table border="1px" style="margin: 10px;">
    
    <tr>
        <td><strong><%= i+1 %></strong></td>
        <td><strong>Tên sản phẩm:</strong> <%= products[i].productName %></td>
    </tr>
    <tr>
        <td colspan="2"><img style="width: 50px; height: 50px" src="<%= products[i].productImages %>"></td>
    </tr>
    <tr>
        <td><strong>Thông tin:</strong> <%= products[i].infor %></td>
        <td><strong>Số lượng:</strong> <%= products[i].quantity %></td>
    </tr>
    <tr>
        <td><strong>Giá:</strong> <%= products[i].price %></td>
        <td><strong>Ngày:</strong> <%= products[i].date %></td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">
            <button href="javascript:;"  data-id="<%= products[i]._id %>" data-bs-toggle="modal" data-bs-target="#editProductModal" 
                style="width: 50px; background-color: #00ef38; color: rgb(244, 20, 20);">Sửa</button>
            
            &#160
            <button href="javascript:;" class="btn_delete_product " data-id="<%= products[i]._id %>" data-bs-toggle="modal" data-bs-target="#deleteProductModal"
                style="width: 50px; background-color: #ef0000; color: white;">Xóa</button>
            
        </td>
    </tr>
    
</table>
